.all-blogs-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.all-blogs-title {
  font-size: 36px;
  color: #54007b;
  margin-bottom: 40px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.blog-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #fff;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.blog-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-content {
  padding: 20px;
  text-align: left;
}

.blog-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}

.blog-author {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.blog-description {
  font-size: 16px;
  color: #555;
}
.blog-link {
  display: inline-block;
  margin-top: 15px;
  font-size: 16px;
  color: #54007b;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  cursor: pointer;
}

.blog-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: #a50bed;
  transition: width 0.3s ease;
}

.blog-link:hover {
  color: #a21caf;
}

.blog-link:hover::after {
  width: 100%;
}
